
.father {
    -fx-background-color: linear-gradient(
        to bottom right,
        #F4F6F7 0%,
        #D5DBDF 45%,
        #8C979F 100%
    );

    -fx-border-color: #59636B;
    -fx-border-width: 4px;
    -fx-border-radius: 5px;
}

.label {
    -fx-text-fill: #30373D;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.textField {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #30373D;

    -fx-border-color: #AEB7BD;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-padding: 6px;
}

.textField:focused {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #707B83;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #707B83;
    -fx-text-fill: white;

    -fx-border-color: #59636B;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #8C979F;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #4F5960;
    -fx-border-color: #C7CDD1;
}

.table {
    -fx-background-color: linear-gradient(
        to bottom right,
        #FFFFFF 0%,
        #E1E5E8 50%,
        #B7C0C6 100%
    );

    -fx-border-color: #AEB7BD;
    -fx-border-width: 2px;
}

.table .column-header-background {
    -fx-background-color: #59636B;
}

.table .column-header {
    -fx-background-color: #59636B;
    -fx-border-color: #737E86;
}

.table .column-header .label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.table .table-row-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #30373D;
    -fx-border-color: #D5DADF;
}

.table .table-row-cell:filled:hover {
    -fx-background-color: #D1D7DB;
}

.table .table-row-cell:selected {
    -fx-background-color: #9DA8AE;
    -fx-text-fill: #20262A;
}

.table .table-cell {
    -fx-text-fill: #30373D;
    -fx-border-color: #E0E4E7;
}